.q1{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 24px;
    padding: 15px 40px;
    background-color: black;
    border-radius: 15px;
}
.navbar{
    padding-top: 50px;
    padding-bottom: ;
    padding-left: 70px;
    padding-right: 70px;
}
.navbar-nav{
    background-color: black;
    margin-left: 150px;
    padding: 15px 40px 15px 20px;
    border-radius: 30px;
}

.nav-link{
    color: white;
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
}