.q1{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 24px;
    padding: 15px 40px;
    background-color: black;
    border-radius: 15px;
}
.navbar{
    padding-top: 50px;
    padding-bottom: ;
    padding-left: 70px;
    padding-right: 70px;
}
.navbar-nav{
    background-color: black;
    margin-left: 120px;
    padding: 15px 40px 15px 15px;
    border-radius: 30px;
}

.nav-link{
    color: white;
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
}
.q4{
background-image: linear-gradient(to right, #fbc531, #48dbfb);
border-radius: 15px;
padding: 8px 20px;
}
.q6{
    padding-left: 20px;
    padding-right: 20px;
}
.d-flex{
    background-color: black;
    padding: 12px 20px;
    border-radius: 20px;
}
.btn{
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-right: 13px;
    border: 1px solid black;

}
.bi{
    color: white;
    margin-top: 5px;
    
}
.q10{
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    background-color: #48dbfb;
    border-radius: 20px;
    font-weight: 900;
}
.q11{
    padding-top: 290px;
}
.w1{
    background-color: black;
    margin-top: 90px;
}
.w2{
    color: white;
    font-weight: 800;
    font-size: 65px;
    margin-left: 15px;
    padding-top: 60px;
}
.w5{
    margin-top: -500px;
    margin-left: 40px;
}